#container {
  display: flex;
  flex-direction: row;
  position: absolute;
  color: var(--black);
  font-weight: bold;
  text-align: center;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#title {
  font-size: 36px;
  font-family: 'Domine', serif;
  margin: 0 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuButton {
  position: absolute;
  top: 18px;
  left: 18px;
}

.buttonLabel {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  width: 30px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.buttonLabel:after {    
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 50%;
  background: var(--black);
  transition: 0.3s ease 0s, left 0.3s ease 0s;
}

.buttonLabel:hover:after { 
  width: 80%; 
  left: 10%; 
  background: var(--white);
}


@media only screen and (min-width: 700px) {
  .buttonLabel {
    width: 100px;
  }

  .buttonLabel:hover {
    color: var(--white);
  }
}