.container {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 75%;
}

.date {
  width: 150px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 2vw;
}
.leftText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.rightText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.leftText > p,
.rightText > p {
  display: flex;
  margin: 0;
}
