* {
  --white: #F6F6F6;
  --black: #151515;
  --primaryColor: #00C9E4;
  --accentColor: #D804A9;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  background: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  min-height: 500px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Domine', serif;
  font-size: 55px;
  font-weight: 300;
  margin: 45px 0 10px;
}

h2 {
  font-family: 'Domine', serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 45px 0 10px;
}

h3 {
  font-family: 'Domine', serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

p {
  text-align: center;
  font-size: 16px;
}

#root {
  background-repeat: no-repeat;
  background-color: var(--black);
  background-image: url('./assets/bkg.png');
  background-position: center 28%;
  background-position: center calc(-700px + 20vh );
  background-size: 2000px auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Home section styles */
#home {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 95vh;
  /* background-image: url('./assets/paperBkg.png'); */
  /* background-position: top; */
  /* background-size: auto 100vh; */
}

#promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loveMeCover {
  width: 300px;
  height: 300px;
  border: solid 1px var(--accentColor)
}

#loveMeOutline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 305px;
  height: 305px;
  background: linear-gradient(var(--primaryColor) 65%, var(--accentColor));
}

.buttonContainer {
  margin: 20px;
  padding: 15px 25px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--black);
  color: var(--black);
  font-size: 20px;
  text-align: center;
  transition: 0.25s;
  z-index: 1;
  min-width: 150px;
}

/* About section styles */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}


#logo {
  width: 200px;
  height: 200px;

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#tallPhoto {
  width: 90vw;
  margin-top: 50px;
}

#names {
  display: flex;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  margin: 10px 0;
}

/* Contact section styles */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#logoSmall {
  width: 100px;
  height: 100px;
}

#socialLinks {
  display: flex;
}

.emailButton {
  color: var(--white);
  border-color: var(--white);
  margin: 15px 0 50px 0;
}

.emailButton:hover {
  border-color: var(--accentColor);
  color: var(--accentColor);
}

.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  transition: 0.25s;
}

.tailText {
  margin: 10px 0;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  h3 {
    font-family: 'Domine', serif;
    font-size: 32px;
    font-weight: 300;
    margin: 0;
  }
  
  h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
  }

  /* Promo section styles */
  #home {
    height: 100vh;
    min-height: 675px;
    max-height: 800px;
  }
  
  .buttonContainer:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--accentColor);
    color: var(--accentColor);
  }
  
  /* About section styles */
  #about {
    max-width: 1024px;
  }
  
  #aboutSection {
    max-width: 1024px;
  }

  #widePhoto {
    width: 90vw;
    height: auto;
    margin-top: 50px;
    max-width: 1024px;
  }

  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 4vw;
    width: 125px;
  }

  .socialButton:hover {
    color: var(--accentColor);
  }
}